HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!src/test/**

logs/
build/
tomcat/
out/
src/test/test.groovy

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
!.idea/checkstyle-idea.xml
!.idea/codeStyles
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store
